section.accordion#faq
    .accordion__container.container

        h2.title-section Часто задаваемые вопросы

        ol.accordion__list

            li.accordion__item
                p.accordion__title Как забронировать тур?
                p.accordion__content Для детей младше 8 лет посещение крыши запрещено. Дети старше 8 лет сопровождаются взрослыми, которые несут за них полную ответственность.


            li.accordion__item
                p.accordion__title Какая стоимость тура?
                p.accordion__content Для детей младше 8 лет посещение крыши запрещено. Дети старше 8 лет сопровождаются взрослыми, которые несут за них полную ответственность.

            li.accordion__item
                p.accordion__title Что включено в стоимость тура?
                p.accordion__content Все крыши оборудованы специальным нескользящим покрытием, а так же имеются ограждения по краям крыши.

            li.accordion__item
                p.accordion__title Какие скидки возможны для групп?
                .accordion__content
                    p Включая подъем и спуск, прогулка длится около часа. Она начинается с экскурсионной части, когда гид рассказывает истории, которые, на его взгляд, будут интересны конкретной группе.
                    p После этого группа фотографируется и наслаждается видом.

            li.accordion__item
                p.accordion__title Как подобрать индивидуальный тур?
                p.accordion__content Маленький дождь не помеха для прогулки по крышам, но если начнётся ливень, то экскурсия будет перенесена на ближайшее или удобное для Вас время.

            li.accordion__item
                p.accordion__title Возможно ли полное сопровождение экскурсоводов?
                p.accordion__content Для Вашего комфорта отдайте предпочтение удобной обуви и одежде. Одевайте обувь на плоской подошве (никаких каблуков и шпилек).
                    | Так же джинсы или спортивные штаны будут оптимальным для Вас вариантом. Слишком пышные наряды оставьте для другого случая.

            li.accordion__item
                p.accordion__title На группы предоставляются бесплатные места?
                p.accordion__content На крыше уборных нет, поэтому продумайте этот момент заранее.