section.first-time
    .first-time__container.container

        h2.title-section Первый раз в городе?

        .first-time__slider

            .swiper-wrapper

                a.swiper-slide.first-time__item(href="##")
                    img.first-time__img(src="https://static.tildacdn.com/tild6163-6230-4264-b134-353662363335/hu-chen-pwuzRFG4Dm4-.jpg")
                    span.first-time__title Императорские дворцы
                a.swiper-slide.first-time__item(href="##")
                    img.first-time__img(src="https://static.tildacdn.com/tild6466-6466-4362-b737-383331376265/DJI_0084-Edit.jpg")
                    span.first-time__title Мифы и легенды города
                a.swiper-slide.first-time__item(href="##")
                    img.first-time__img(src="https://static.tildacdn.com/tild6637-6366-4231-a663-383034343530/youssef-abdelwahab-p.jpg")
                    span.first-time__title Обзорная экскурсия по городу
                a.swiper-slide.first-time__item(href="##")
                    img.first-time__img(src="https://static.tildacdn.com/tild3135-3265-4165-b466-333637653666/0C6F9F4D-661B-4E26-A.png")
                    span.first-time__title Обзорная с посещением эрмитажа
                a.swiper-slide.first-time__item(href="##")
                    img.first-time__img(src="https://static.tildacdn.com/tild3462-3263-4265-b135-306137353663/noroot.png")
                    span.first-time__title Ночная экскурсия