section.how-we-work
    img.how-we-work__decor-left(src="./assets/img/how-we-work/img-left.svg")
    img.how-we-work__decor-right(src="./assets/img/how-we-work/img-right.svg")
    .how-we-work__container.container
        h2.title-section Как мы работаем?

        ul.how-we-work__list

            li.how-we-work__item.how-we-work-item
                span.how-we-work-item__number 01
                .how-we-work-item__body
                    h3.how-we-work-item__title Бронь
                    p.how-we-work-item__text Выберите экскурсию
                        br
                        | и оставьте заявку

            li.how-we-work__item.how-we-work-item
                span.how-we-work-item__number 02
                .how-we-work-item__body
                    h3.how-we-work-item__title Подтверждение
                    p.how-we-work-item__text Мы с вами свяжемся
                        br
                        | для потдверждения и оплаты

            li.how-we-work__item.how-we-work-item
                span.how-we-work-item__number 03
                .how-we-work-item__body
                    h3.how-we-work-item__title Экскурсия
                    p.how-we-work-item__text Все экскурсии выполняют
                        br
                        | аккредитованные гиды