section.hero
    .hero__container.swiper-container.slideshow
        .swiper-wrapper

            .swiper-slide.slide
                .slide-image(style="background-image: url(https://static.tildacdn.com/tild6264-6661-4534-b538-366266306235/mary-ray-0aw9bHFf6cA.jpg)")
                //span.slide-title Exotic places
                span.slide-title Санкт-Петербург

            .swiper-slide.slide
                .slide-image(style="background-image: url(https://static.tildacdn.com/tild3036-3739-4862-b933-623262643965/Mason_1.jpg)")
                //span.slide-title Meet ocean
                span.slide-title Кронштадт

            .swiper-slide.slide
                .slide-image(style="background-image: url(https://static.tildacdn.com/tild3264-6665-4465-b832-623736373137/dimitry-b-pX43I7JF3k.jpg)")
                //span.slide-title Around the world
                span.slide-title Павловск


        .slideshow-pagination

        .slideshow-navigation
            .slideshow-navigation-button.prev
            .slideshow-navigation-button.next