section.catalog
    .catalog__container.container

        h2.title-section Экскурсии

        .catalog__slider

            .swiper-wrapper

                a.swiper-slide.catalog__item(href="##")
                    img.catalog__img(src="https://thumb.tildacdn.com/tild3539-6566-4139-a134-366565303431/-/format/webp/radik-sitdikov-IRApk.jpg")
                    span.catalog__title Вечерние <br> и ночные
                a.swiper-slide.catalog__item(href="##")
                    img.catalog__img(src="https://thumb.tildacdn.com/tild3834-3434-4364-b564-636266633733/-/format/webp/ainur-khakimov-muoU_.jpg")
                    span.catalog__title Свидание на крыше
                a.swiper-slide.catalog__item(href="##")
                    img.catalog__img(src="https://static.tildacdn.com/tild6264-6661-4534-b538-366266306235/mary-ray-0aw9bHFf6cA.jpg")
                    span.catalog__title Авторские и тематические
                a.swiper-slide.catalog__item(href="##")
                    img.catalog__img(src="https://static.tildacdn.com/tild3039-3564-4466-b830-353138333435/daniil-smetanin-DAE-.jpg")
                    span.catalog__title Парадные и дворы
                a.swiper-slide.catalog__item(href="##")
                    img.catalog__img(src="https://static.tildacdn.com/tild3936-3762-4137-b664-303136656436/_MG_0281.jpg")
                    span.catalog__title Водные прогулки