extends ../layouts/main

block variables
    - var title = "SPB Travel Group"

block content

    include ../blocks/hero/hero
    include ../blocks/how-we-work/how-we-work
    include ../blocks/about-us/about-us
    include ../blocks/faq/faq

    //input#date(type="text" autocomplete="off" style="border: 1px solid; width: 100px")
    //
    //include ../blocks/blog/blog
    //
    //.swiper
    //    .swiper-wrapper
    //        .swiper-slide Slide 1
    //        .swiper-slide Slide 2
    //        .swiper-slide Slide 3
    //        .swiper-slide Slide 4
    //        .swiper-slide Slide 5
    //        .swiper-slide Slide 6