#range-price(data-min="1000" data-max="20000")
    //.range__fields
    //    input.range__input.range__input--min(type="number" value="1300")
    //    input.range__input.range__input--max(type="number" value="7500")
    //.range__slider
    //    .range__progress
    //
    //.range__items
    //    input.range-min(type="range" min="0" max="20000" value="0" step="100")
    //    input.range-max(type="range" min="100" max="20000" value="20000" step="100")
