section.about-us
    .about-us__container.container
        h2.title-section О нас

        ul.about-us__list

            li.about-us__item.about-us-item
                img.about-us-item__img(src="./assets/img/about-us/01.svg")
                h3.about-us-item__title Мы в реестре туроператоров

            li.about-us__item.about-us-item
                img.about-us-item__img(src="./assets/img/about-us/02.svg")
                h3.about-us-item__title Все экскурсоводы прошли аккредитацию

            li.about-us__item.about-us-item
                img.about-us-item__img(src="./assets/img/about-us/03.svg")
                h3.about-us-item__title Все туристы застрахованы от невыезда

            li.about-us__item.about-us-item
                img.about-us-item__img(src="./assets/img/about-us/04.svg")
                h3.about-us-item__title Туры напрямую от организатора